@model AllResourcePostsViewModel

@{
    ViewData["Title"] = "Resources";
    ViewBag.Controller = "Resources";
}
<h2 class="text-center heading-margin">@ViewData["Title"]</h2>
@if (User.IsAdmin())
{
<div class="text-center mb-5">
    <a asp-controller="Resources" asp-area="Admin" asp-action="Add" class="btn btn-primary">Add resource posts!</a>
</div>
    
}
<form method="get">
    <div class="input-group mb-5">
        <input asp-for="SearchTerm" type="search" class="form-control rounded" placeholder="Search" aria-label="Search"
               aria-describedby="search-addon" />
        <button type="submit" class="btn btn-primary">search</button>
    </div>
</form>


<partial name="_ResourcePostPartial" model="@Model.ResourcePosts" />

<partial name="../Shared/_PaginationPartial" for="@Model.Pagination" />
