@model AddResourcePostFormModel

@{
    ViewData["Title"] = "Edit Resource Post";
}

<form class="offset-md-2 offset-lg-3 col-md-8 col-lg-6 g-3" method="post" asp-controller="Resources" asp-action="Edit">
    <h2 class="header-margin text-center">@ViewData["Title"]</h2>
    <div class="form-group">
        <label asp-for="Title" class="form-label"></label>
        <input asp-for="Title" type="text" class="form-control" value="@Model.Title">
        <span asp-validation-for="Title" class="small text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Description" class="form-label"></label>
        <textarea asp-for="Description" type="text" class="form-control">@Model.Description</textarea>
        <span asp-validation-for="Description" class="small text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="ImageUrl" class="form-label">Image URL</label>
        <input asp-for="ImageUrl" type="text" class="form-control">
        <span asp-validation-for="ImageUrl" class="small text-danger"></span>
    </div>

    <button type="submit" class="btn btn-primary mt-3 col-sm-12 col-md-auto">Submit</button>

</form>