@model AddPetFormModel

@{
    ViewData["Title"] = "Add Pet";
}

<div class="row">
    <form class="offset-md-2 offset-lg-3 col-md-8 col-lg-6 g-3" method="post" asp-controller="Pets" asp-action="Add">
        
        <partial name="_PetFormPartial" model="@Model"/>


        <button type="submit" class="btn btn-primary mt-3 col-sm-12 col-md-auto">Submit</button>

    </form>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
