@model AddPetFormModel

@{
    ViewData["Title"] = "Edit Pet";
}

<form class="offset-md-2 offset-lg-3 col-md-8 col-lg-6 g-3" method="post" asp-controller="Pets" asp-action="Edit">

    <partial name="_PetFormPartial" for="@Model" />


    <button type="submit" class="btn btn-primary mt-3 col-sm-12 col-md-auto">Submit</button>

</form>
