@model string


@if (this.User.GetId() != null)
{

    <form method="post" asp-controller="Comments" asp-action="Add" asp-route-resourcePostId="@Model">
        <h2 class="text-center mt-5">Comments</h2>


        <div class="row">
            <div class="input-group mb-3 mt-5 offset-lg-1">
                <input required type="text" class="form-control col-lg-10" name="comment" placeholder="Add comment" aria-label="Recipient's username" aria-describedby="basic-addon2">
                <div class="input-group-append">
                    <button class="btn btn-primary" type="submit">Submit</button>
                </div>
            </div>
        </div>

    </form>


}
