@model AddSearchPostFormModel

@{
    ViewData["Title"] = "Add Search Post";
    ViewBag.Page = "Add";
}

<div class="row">
    <form class="offset-md-2 offset-lg-3 col-md-8 col-lg-6 g-3" method="post" asp-controller="SearchPosts" asp-action="Add">
        <h2 class="heading-margin text-center">@ViewData["Title"]</h2>
       

       <partial name="_SearchPostsFormPartial" model="@Model"></partial>


        <button type="submit" class="btn btn-primary mt-3 col-sm-12 col-md-auto">Submit</button>

    </form>
</div>

@section Scripts {
    <script type="text/javascript">
        $("#trigger-select").change(function (e) {
            console.log("success");
            var optionSelected = $("option:selected", this);
            var valueSelected = this.value;
            console.log(valueSelected)
            if (valueSelected == "0") {
                $("#trigger-form").removeClass("d-none");
            } else {
                $("#trigger-form").addClass("d-none");
            }
        });
    </script>
}
