@model AddSearchPostFormModel

@{
    ViewData["Title"] = "Edit Search Post";
    ViewBag.Page = "Edit";
}

<div class="row">
    <form class="offset-md-2 offset-lg-3 col-md-8 col-lg-6 g-3" method="post" asp-controller="SearchPosts" asp-action="Edit">
        <h2 class="heading-margin text-center">@ViewData["Title"]</h2>
        

      
        <partial name="_SearchPostsFormPartial" model="@Model">



        <button type="submit" class="btn btn-primary mt-3 col-sm-12 col-md-auto">Submit</button>

    </form>
</div>
