@model BecomeOwnerFormModel

@{
    ViewData["Title"] = "Become Owner";
}



<div class="row">
    <form class="offset-md-2 offset-lg-3 col-md-8 col-lg-6 g-3" method="post" asp-controller="Owners" asp-action="Become">

       <partial name="_OwnersFormPartial" model="@Model">

    </form>
</div>

